<h1>Device Management Software</h1>

<ul>
    <li><a href="/Device">Device Management</a></li>
    <li><a href="/Category">Category Management</a></li>
    <li><a href="/User">User Management</a></li>
</ul>
