<form method="post">
    Name: <input name="DeviceName" /> <br />
    Code: <input name="DeviceCode" /> <br />
    Status:
    <select name="Status">
        <option>In use</option>
        <option>Broken</option>
        <option>Under maintenance</option>
    </select>
    <br />
    Date: <input type="date" name="DateOfEntry" />
    <br />
    <button type="submit">Save</button>
</form>
