<h2>Add User</h2>

<form method="post">
    Full name:
    <input name="FullName" required /><br /><br />

    Email:
    <input name="Email" type="email" required /><br /><br />

    Phone:
    <input name="PhoneNumber" required /><br /><br />

    <button type="submit">Save</button>
</form>
